.incomplete-area {
  width: 500px;
  height: 400px;
  background-color: rgb(243, 230, 238);
}
.complete-area {
  width: 500px;
  height: 400px;
  background-color: rgb(227, 230, 230);
}

.list-wrapper {
  display: flex;
}

button {
  margin-left: 10px;
}
